@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* 1150 */

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Inter", sans-serif;
}

/* Attribution */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Containers */

body {
    background-color: #090b1a;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#card {
    background-color: #1b1938;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;
}

#content {
    display: inline-block;
    margin: 0 65px;
    text-align: left;
} 

/* Selectors */

h1 {
    width: 400px;
    font-size: 2.3rem;
    font-weight: 700;
}

p {
    color: #ffffffbf;
    font-size: 15px;
}

img {
    display: block;
    width: 550px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 5px;
}

/* Classes */

.features {
    font-family: "Lexend Deca", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    width: 90%;
}

.desc {
    width: 350px;
    margin: 35px 0 70px;
    line-height: 1.5;
}

.image {
    position: relative;
    
    margin-left: 50px;
}

.overlay {
    width: 550px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #aa5cdbb3;
    mix-blend-mode: multiply;
}

.special-text {
    color: #aa5cdb;
}

/* Mobile Design */
@media (max-width: 1150px) {
    
    #card {
        display: flex;
        flex-direction: column-reverse;
        width: 400px;
        border-radius: 10p;
    }
    #content {
        text-align: center;
        margin: 0;
    }
    .features {
        display: inline-block;
    }
    .image {
        margin: 200px 0 0;
        width: 100%;
    }
    img {
        width: 100%;
        content: url("./images/image-header-mobile.jpg")
    }
    img {
        border-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    h1 {
        width: 85%;
        margin: 0 auto;
        margin-top: 35px;
    }

    .desc {
        width: 65%;
        margin: 20px auto 40px;
    }

    .feature {
        margin: 0 0 40px;
    }
}